<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Image</title>
</head>
<body>
    <form action="/data/" method = "POST">
        <p>Mentor Name<input type = "text" name = "MentorName" /></p>
        <p>Menti Name<input type = "text" name = "MentiName" /></p>
        <p>Session Topics<input type = "text" name = "SessionTopic" /></p>
        <p>AHA-Moment <input type = "text" name = "AhaMoment" /></p>
        <p><input type = "submit" value = "Submit" /></p>
    </form>

</body>
</html>