<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Image</title>

    <!--  Load CSS in Flask with html-->
    <link rel="stylesheet" href='/static/main.css' />
</head>
<body>

<h1>Pass the image filenames from python to html</h1>
{% for imagePath in imageList %}
    <img src="{{url_for('static', filename=imagePath)}}" id='artobject' />
    <br>
{% endfor %}
<div class="gallery__img slides__img slides__img--current"><div class="gallery__img-inner slides__img-inner" style="background-image:{{url_for('static', filename=imagePath)}}"></div></div>
</body>
</html>