<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Image</title>

    <!--  Load CSS in Flask with html-->
    <link rel="stylesheet" href="https://use.typekit.net/qhs8dnq.css">
    <link rel="stylesheet" href='/static/playground.css' />

    <script>
    function myfunc(){
             const form = document.getElementById('myform');
             const spinner = document.getElementById('loader');
             form.classList.toggle('fade-out');
             spinner.style.display = "block";
    }
    </script>
</head>
<body class="loading frame">
    <main>
        <svg class="vector vector--lines" width="100%" height="100%" viewBox="0 0 1441 790" preserveAspectRatio="none" aria-hidden="true">
            <path vector-effect="non-scaling-stroke" d="M1035.5 790V0m-315 790V0m-317 790V0M.5 490h1440M.5 725h1440M.5 490l403 235m633 .5 403-235"/>
        </svg>
        <!--<svg class="vector vector--circle" width="100%" height="100%" viewBox="0 0 634 634" preserveAspectRatio="xMidYMid meet" aria-hidden="true">
            <circle vector-effect="non-scaling-stroke" cx="316" cy="316" r="316"></circle>
        </svg> -->
        <h1 class="title" style="color:#F6A319; opacity:1">AI ART FOR CORA</h1>
        <nav class="menu">
            <a class="menu__item" href="#">Contact</a>
            <a class="menu__item" href="#">Projects</a>
            <a class="menu__item" href="#">Developers</a>
        </nav>
        <div class="actual_inputs" style="margin-top: -12vh; margin-left: 2vh">
                 <form action="/data/" method = "POST" id="myform" onsubmit="myfunc()">
                     <p style="font-size:160%; color:#F6A319;">Mentor Name: <input style="font-size:130%;" class="input_box" type = "text" name = "MentorName" size=30 /> </p>
                    <p style="font-size:160%; color:#F6A319;">Mentee Name: <input style="font-size:130%;" class="input_box" type = "text" name = "MentiName" size=30/></p>
                    <p style="font-size:160%; color:#F6A319;">Session Topics: <input style="font-size:130%;" class="input_box" type = "text" name = "SessionTopic" size=30 /></p>
                    <p style="font-size:160%; color:#F6A319;">AHA-Moment:  <input style="font-size:100%;" class="input_box" type = "text" name = "AhaMoment" size=70/></p>
                    <p style="font-size:160%; color:#F6A319;"><input class="custom_button" type = "submit" value = "Submit" /></p>
                </form>
        </div>
        <div id="loader" ></div>
        <div class="intro">
            <h2 class="intro__title" style="color:#F6A319; opacity:1">CORA PROJECT NAME</h2>
            <p class="intro__description" style="color:#F6A319; opacity:1">
                This project was enabled by CORA. Props, skur skurr.
            </p>
            <a class="intro__link" href="#" style="color:#FBDD3C; opacity:1">View more</a>
        </div>
        <div class="author">by <a href="#">CombatWombat Team</a></div>
        <a class="showreel" href="#" aria-label="Play the showreel video">Welcome to the future</a>
    </main>
    <script type="module" src="../js/index.js"></script>
</body>
</html>